<section class="hero is-success">
    <div class="hero-body">
        <h1 class="title">教科一覧</h1>
    </div>
</section>

<section>
    <div class="container" style="margin-top:5%;">
        <article class="panel is-primary">
            <div class="tabs">
                <ul>
                    <li id="all"><%=link_to "All",subject_index_path(pagenation:1, group:"all")%></li>
                    <li id="is"><%=link_to "あり",subject_index_path(pagenation:1, group:"is")%></li>
                    <li id="notis"><%=link_to "なし",subject_index_path(pagenation:1, group:"notis")%></li>
                </ul>                                                  
            </div>
            <div class="parent">
                <button class="item button" id="item2"><%= link_to '作成' ,new_subject_path %></button>
                <button class="item button" id="edit" onclick="editbutton()">編集</button>
                <button class="item button" id="delete" onclick="deletebutton()"><ion-icon name="trash-outline"></ion-icon></button>
                
            </div>
            <% @subject.slice((@pagenation-1)*12..@pagenation*12).each do |s|%>
                <div class="panel-block">
                
                    <input type="checkbox"  id="id#{s.id}" value= "<%=s.id%>" name="options" onclick="check_search()">
                    <span class="panel-icon">
                        <ion-icon name="folder-open-outline"></ion-icon>
                    </span>
                    <%= link_to s.subjectname,:controller => 'document', :action => 'index', content: s.subjectname,pagenation:1%>
                    <div style="display:none;">
                        <%= button_to "削除",subject_path(id:s.id),{method: :delete,id:s.id,form:{data: {turbo_confirm:"削除しますか?"}}}%>
                        <%= button_to "編集","/subject/#{s.id}/edit",{method: :get,name:s.id}%>
                    </div>
                </div>
            <%end%>
        </article>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <a class="pagination-previous"  href="./subject?group=<%=@parameter%>&pagenation=<%=@pagenation-1%>">Previous</a>
                <a class="pagination-next" href="./subject?group=<%=@parameter%>&pagenation=<%=@pagenation+1%>">Next page</a>
                <ul class="pagination-list">
                    <li><a class="pagination-link"  aria-label="Goto page 1" href="./subject?group=<%=@parameter%>&pagenation=<%=@pagenation%>"><%=@pagenation%></a></li>
                    <li><a class="pagination-link"  aria-label="Goto page 1" href="./subject?group=<%=@parameter%>&pagenation=<%=@pagenation+1%>"><%=@pagenation+1%></a></li>                                
                    <li><span class="pagination-ellipsis">&hellip;</span></li>                   
                </ul>
            </nav>
        </div>
    </footer>
</section>

<%= javascript_include_tag "subject.js" %>
