
<%= form_for @subjects,url:subject_index_path do |f|%>
    <%= f.hidden_field :username,:value => current_user.name %>
    <div class = "field">
        <%=f.label:subjectname,class:"label"%>
        <%=f.text_field:subjectname,class:"input"%>
    </div>
    <div class = "field">
        <%=f.label:test,class:"label"%>
        <%=f.select:test, [['あり',0],['なし',1]], { include_blank: true, selected: 0 } %>
    </div>
    <%= f.submit%>
<%end%>