
<section>
    <div class="container" style="margin-top:5%;">
        <div class="tabs">
            <ul>
                <li id="all"><%=link_to "All",document_index_path(content:params[:content],group:"all",pagenation:1)%></li>
                <li id="difficult"><%=link_to "重要",document_index_path(content:params[:content],group:"difficult",pagenation:1)%></li>
                <li id="medium"><%=link_to "普通",document_index_path(content:params[:content],group:"medium",pagenation:1)%></li>
                <li id="easy"><%=link_to "そんなに",document_index_path(content:params[:content],group:"easy",pagenation:1)%></li>
            </ul>
        </div>
        <article class="panel is-primary">
            <% @document.slice((@pagenation-1)*12...@pagenation*12).each do |d|%>
                <div class="columns">
                    <div class="column is-1">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                    </div>
                    <div class="column">
                        <div class="panel-block">
                            <span class="panel-icon">
                                <ion-icon name="bookmark-outline"></ion-icon>
                            </span>
                            <%= link_to d.title,document_path(d.id)%>
                            <%= button_to "削除",document_path(id:d.id,content:params[:content],pagenation:params[:pagenation]),method: :delete %>
                            <%= link_to "更新",edit_document_path(d.id,content:params[:content],pagenation:params[:pagenation])%>
                        </div>
                    </div>
                </div>
            <%end%>
        </article>
    </div>
    <%= link_to '新規作成' ,new_document_path(content:params[:content]) %>
    <footer class="footer">
        <div class="content has-text-centered">
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <a class="pagination-previous" id="prev" href="./index?content=<%=@parameter%>&group=<%=@params%>&pagenation=<%=@pagenation-1%>">Previous</a>
                <a class="pagination-next" id="next" href="./index?content=<%=@parameter%>&group=<%=@params%>&pagenation=<%=@pagenation+1%>">Next page</a>
                <ul class="pagination-list">
                    <li><a class="pagination-link" id="next" aria-label="Goto page 1" href="./index?content=<%=@parameter%>&group=<%=@params%>&pagenation=<%=@pagenation%>"><%=@pagenation%></a></li>
                    <li><a class="pagination-link" id="next" aria-label="Goto page 1" href="./index?content=<%=@parameter%>&group=<%=@params%>&pagenation=<%=@pagenation+1%>"><%=@pagenation+1%></a></li>                                
                    <li><span class="pagination-ellipsis">&hellip;</span></li>                   
                </ul>
            </nav>
        </div>
    </footer>
</section>

<script>
    elements = document.getElementsByTagName("li");
    var serch = location.search
    var param = serch.split('&')

    var nextbtn2 = document.querySelectorAll("#next")
    
    if(<%=@pagenation%> <= 1){
        prevbtn.setAttribute("disabled", true);
	    prevbtn.style.color = "White";
	}
    if(<%=@pagenation%> > <%=@pagenumber%>){
        nextbtn2[0].setAttribute("disabled", true);
		nextbtn2[0].style.color = "White";
        nextbtn2[1].setAttribute("disabled", true);
		nextbtn2[1].style.color = "White";
        nextbtn2[2].setAttribute("disabled", true);
		nextbtn2[2].style.color = "White";
    }

    if(param.length == 1){
        elements[0].className = "is-active"
    }else{
        var paramArray  = param[1].split('=')[1]
        if(paramArray){
            for(let i=0;i<4;i++){
                if(paramArray == elements[i].id){
                    elements[i].className = "is-active"
                }      
            }
        }
    }
    
</script>