
<section>
    <div class="container" style="margin-top:5%;">
        <article class="panel is-primary">
            <p class="panel-tabs">
                <%=link_to "All",document_index_path(content:params[:content],group:"all")%>
                <%=link_to "重要",document_index_path(content:params[:content],group:"difficult")%>
                <%=link_to "普通",document_index_path(content:params[:content],group:"medium")%>
                <%=link_to "そんなに",document_index_path(content:params[:content],group:"easy")%>
            </p>
            <div class="panel-block">
                <p class="control has-icons-left">
                <input class="input is-primary" type="text" placeholder="Search" id="search">
                <span class="icon is-left">
                    <ion-icon name="search-outline"></ion-icon>
                </span>
                </p>
            </div>
    
            <% @document.each do |d|%>
                <div class="panel-block">
                    <span class="panel-icon">
                        <ion-icon name="bookmark-outline"></ion-icon>
                    </span>
                    <%= link_to d.title,document_path(d.id)%>
                </div>
            <%end%>
        </article>
    </div>
    <%= link_to '新規作成' ,new_document_path(content:params[:content]) %>
</section>

<script>
    var search = document.getElementById("search");
    var value = search.value;
    $(function(){
  
  localStorage.clear();
  $.ajax({
    url: '/document/index',  
    type: 'GET',
    dataType: 'html',
    async: true,
    data: {
      score: value,
    },
  });
});
    
</script>
