
<%= form_for @document,url:document_new_path do |f|%>
   
    <%= f.hidden_field :subjectname,:value => @query %>
    <div class="field">
        <%= f.label:"タイトル",class:"label"%>
        <%= f.text_field:title,class:"input"%>
    </div>
    <div class="field">
        <%= f.label:"内容",class:"label"%>
        <%= f.text_area:content,class:"input"%>
    </div>
    <div class="field">
        <%= f.label:"難易度",class:"label"%>
        <%= f.number_field:difficulty,min:1,max:5%>
    </div>
    <%=f.submit%>
<%end%>