<section class="hero is-success">
    <div class="hero-body">
        <p class="title">
            資料閲覧
        </p>
    </div>
</section>

<section class="container" style="margin-top:5%;">
    <h1 class="title"><%=@document.title%></h1>
    <p class="subtitle">重要度:<%=@document.difficulty%></p>
    <div class="parent">
        <button class="item button" id="item2"><%= link_to '編集' ,edit_document_path(content:params[:content]) %></button>
        <button class="item button" id="item"><ion-icon name="trash-outline"></ion-icon></button>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="content">
                <%=markdown(@document.content)%>
            </div>
        </div>
    </div>
    <%= link_to "資料一覧へ",document_index_path(content:params[:content],pagenation:1)%>
</section>

<style>
.item{
    margin-left:10px;
    margin-top:auto;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    align-items:center
    width: 600px;
}

</style>